@model healthcare_system.ViewModels.EditTermReservationViewModel

@*<h1>Uredi termin za pacienta</h1>
<form asp-controller="Reservation" asp-action="EditReservationSave" method="post" class="flex-column">
        
        <h2>Podatki o pacientu</h2>
        <p>@Model.patient.FirstName @Model.patient.LastName</p>
        <p>@Model.patient.EmailAddress</p>
        <p>@Model.patient.Age</p>

        <h2>Podatki o zdravniku</h2>
        <p>@Model.doctor.FirstName @Model.doctor.LastName</p>
        <p>@Model.doctor.Email</p>
        <p>@Model.doctor.DepartmentId</p>
        <p>@Model.doctor.Specialization</p>

        <div class="form-group">
            <label asp-for="@Model.Date" class="form-label">Reservation Date</label>
            <input asp-for="@Model.Date" type="date" class="form-control" value="@Model.Date"/>
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
        <input asp-for="@Model.ReservationId" type="hidden" value="@Model.ReservationId" />

        <button type="submit" class="btn btn-primary">Save changes</button>
    
</form>*@

<div class="container mt-4">
    <h1 class="mb-4">Uredi termin za pacienta</h1>

    <form asp-controller="Reservation" asp-action="EditReservationSave" method="post">
        <div class="row">
            <div class="col-md-6">
                <h2>Podatki o pacientu</h2>
                <table class="table table-bordered">
                    <tr>
                        <td class="fw-bold">Ime in Priimek:</td>
                        <td>@Model.patient.FirstName @Model.patient.LastName</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Email:</td>
                        <td>@Model.patient.Email</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Starost:</td>
                        <td>@Model.patient.Age</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-6">
                <h2>Podatki o zdravniku</h2>
                <table class="table table-bordered">
                    <tr>
                        <td class="fw-bold">Ime in Priimek:</td>
                        <td>@Model.doctor.FirstName @Model.doctor.LastName</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Email:</td>
                        <td>@Model.doctor.Email</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Oddelek ID:</td>
                        <td>@Model.doctor.DepartmentId</td>
                    </tr>
                    <tr>
                        <td class="fw-bold">Specializacija:</td>
                        <td>@Model.doctor.Specialization</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="@Model.Date" class="form-label">Reservation Date</label>
            <input asp-for="@Model.Date" type="date" class="form-control" value="@Model.Date.ToString("yyy-MM-dd")" />
            <span asp-validation-for="@Model.Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SelectedDoctorEmail" class="form-label">Izberi novega doktorja za obravnavo</label>
            @Html.DropDownListFor(model => model.SelectedDoctorEmail, Model.DoctorList, "Select a doctor", new { @class = "form-control" })
            <span asp-validation-for="SelectedDoctorEmail" class="text-danger"></span>
        </div>

        <input asp-for="@Model.ReservationId" type="hidden" value="@Model.ReservationId" />

        <button type="submit" class="btn btn-primary">Save changes</button>
    </form>
</div>








    @*tr asp-controller="Reservation" asp-action="NewReservationSave" method="post">
        @using (Html.BeginForm("EditReservationSave", "Reservation", FormMethod.Post))
        {
        <th scope="col">
        <div>
            <div class="input-group">
                    @Html.HiddenFor(m => m.termReservation.ReservationId)
                    @Html.HiddenFor(m => m.termReservation.DoctorId)
                    <input asp-for="termReservation.DoctorId" type="text"
                       class="form-control"
                       placeholder="Doctor ID"
                       aria-label="Doctor ID" />
            </div>
        </div>
        </th>
        <th scope="col">
            <div>
                <div class="input-group">
                    @Html.HiddenFor(m => m.termReservation.Date)
                    <input asp-for="termReservation.Date" type="text"
                           class="form-control"
                           placeholder="Dan in ura"
                           aria-label="Dan in ura" />
                </div>
            </div>
        </th>
        <th scope="col">
            <div>
                <div class="input-group">
                    @Html.HiddenFor(m => m.termReservation.PatientId)
                    <input asp-for="termReservation.PatientId" type="text"
                           class="form-control"
                           placeholder="Pacient"
                           aria-label="Pacient" />
                </div>
            </div>
        </th>
        <th scope="col">
            
                @Html.HiddenFor(m => m.termReservation.ReservationId)
                @Html.HiddenFor(m => m.termReservation.DoctorId)
                @Html.HiddenFor(m => m.termReservation.Date)
                @Html.HiddenFor(m => m.termReservation.PatientId)
                <button scope="row" type="submit" name="editButton" class="btn btn-success btn-sm" asp>Shrani</button>
            
        </th>
        }
    </tr>*@
</table>


